dist: xenial

language: go

env:
  - GO111MODULE=on
  - GOFLAGS='-mod vendor'

go:
  - 1.12.x

git:
  depth: 1

install: true

notifications:
  email: false

before_script:
  - go get github.com/gorilla/mux
  - go get github.com/jinzhu/gorm

script:
  - git clone https://github.com/$TRAVIS_REPO_SLUG.git FoundeeAPI
  - cd FoundeeAPI
  - git checkout -qf $TRAVIS_COMMIT
  - mkdir /home/travis/gopath/src/FoundeeAPI
  - cd ../
  - ls
  - mv FoundeeAPI/* /home/travis/gopath/src/FoundeeAPI/
  - go test FoundeeAPI
