name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set environment variables
      run: export GITHUB_WORKSPACE="/home/runner/go/src/"
    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        go-version: 1.12
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      
    - name: Get custom dependencies
      run: |
        go get github.com/gorilla/mux
        go get github.com/jinzhu/gorm
        exit 0
    - name: Build
      run: |
        cd ../
        mkdir /home/runner/go/src/FoundeeAPI
        mv foundee-api/ /home/runner/go/src/FoundeeAPI
        cd /home/runner/go/src
        ls
        go build FoundeeAPI
  test:
    name: test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        go-version: 1.12
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi
    - name: Get custom dependencies
      run: go get github.com/gorilla/mux && go get -u github.com/jinzhu/gorm

    - name: Test
      run: go test
      
      
